
// --------------------------
// VARIABLES
// --------------------------
$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(to right, #28d7c3, #602386);

  a {
    color: white;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

// --------------------------
// Form
// --------------------------

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;

      &[type="submit"]:hover {
        @include black-test-white-bg;
      }
    }
  }
}

// --------------------------
// button
// --------------------------

button#delete {
  @include white-text-black-bg;
  display: block;
  margin: auto;
  font-size: 1.3em;
  padding: 10px;
}

// --------------------------
// images
// --------------------------

img {
  width: 300px;
  height: 300px;
  border-radius: 90px;
  object-fit: cover;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  li {
    margin-right: 1.2rem;
    cursor: pointer;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
    img {
      height: 1.68rem;
      width: 1.68rem;
      border-radius: 50%;
    }
  }
}

li.logout {
  margin-left: auto;
  float: right !important;
  padding-left: 300px;
  color: red;
}
li.login {
  margin-left: auto;
  float: right !important;
  padding-left: 600px;
  color: green;
}

